# .gitignore
# Ignore Python bytecode cache directories
__pycache__/

# Ignore temporary file
temp.txt

# Exclude environment variable files
.env

# Exclude backup files
backups/

# Ignore the profile information for privacy
ChromeProfiles/

# Ignore the downloaded files for privacy
explorer_downloads/

# Exclude env files
venv/
.env/
myenv/

# Ignore setuptools build metadata
test_build/
*.egg-info/
volunteer_bot.egg-info/

loki-data

# Ignore test coverage artefacts
.coverage
.coverage.*
htmlcov/

#ignore logs folder for git and *.log files
logs/
*.log