# yamllint disable rule:new-lines rule:new-line-at-end-of-file
---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  new-lines:
    type: platform  # Accept the platform's default line endings (unix on Linux/macOS, dos on Windows)

  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on', 'off']